// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.home {
  .home-video-wrapper {
    height: 100vh;
    display: flex;
    .home_video {
      width: 100vw;
      height: 100vh;
      position: absolute;
      object-fit: cover;
      top: 0;
      z-index: -2;
    }
  }
  &-description {
    padding: 100px 0;
    p {
      margin-top: 30px;
    }
  }
  .banner {
    width: 100%;
    height: 450px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("snow2.jpeg");
    background-size: cover;
    background-position: center;
    color: #eeeeee;
  }
  .btn {
    background-color: #548ca8;
    color: #eeeeee;
  }
}
