<div class="footer">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="footer-contact w-50 me-3">
        <div class="contact" id="contact">
          <h3 class="mb-3 title">Nous contacter :</h3>
          <div class="row g-2 mb-3">
            <div class="col-md">
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInputGrid" placeholder="Nom">
                <label for="floatingInputGrid">Nom</label>
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInputGrid" placeholder="Prenom">
                <label for="floatingInputGrid">Prenom</label>
              </div>
            </div>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email :</label>
          </div>
          <div class="form-floating mb-3">
            <input type="tel" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Telephone :</label>
          </div>
          <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Message :</label>
          </div>
          <div>
            <button class="btn btn-light" type="submit">Envoyer</button>
          </div>
        </div>
      </div>
      <%# <div class="footer-infos ms-3 w-100"> %>
      <%# coucou %>
      <%# </div> %>
    </div>
  </div>
</div>
