<div class="footer">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="footer-contact w-100 me-3">
        <div class="contact">
          <h2 class="mb-3">Nous contacter :</h2>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email :</label>
          </div>
          <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Message :</label>
          </div>
          <div>
            <button class="btn btn-light" type="submit">Submit form</button>
          </div>
        </div>
      </div>
      <div class="footer-infos ms-3 w-100">
        Coucou</div>
    </div>
  </div>
</div>
