<div class="fixed-top" id="navbar">
  <div class="container">
    <nav class="navbar navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand">Navbar</a>
        <div class="navbar_info">
          <p class="mb-0">Laurent Porchet</p>
          <p class="mb-0">Mail: laurentporchet@gmail.com</p>
        </div>
      </div>
    </nav>
  </div>
</div>
