<div class="home">
  <div class="home-video-wrapper">
    <%= cl_video_tag "zcudmejg5bresqqy1ggc", autoplay: :autoplay, loop: true, muted: :muted, controls: false, class: "home_video" %>
    <div class="m-auto text-white text-center">
      <h1>Chalet Isola</h1>
      <p>Réservez aujourd'hui votre hebergement aux pieds des pistes de ski</p>
    </div>
  </div>
  <div class="container">
    <div class="home-description text-center">
      <h2>Un chalet pour vos vacances</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet leo quis risus hendrerit imperdiet. In hac habitasse platea dictumst. Maecenas id ante erat. Phasellus at ex sed purus mattis fermentum congue eget enim. Duis egestas posuere arcu, ac porta urna aliquet id. Curabitur eleifend diam ac nisi commodo volutpat. Phasellus nec lectus in augue maximus consectetur. Nam eleifend mi lectus, et eleifend nibh rhoncus et. Cras at pellentesque quam, vel lobortis dui. Donec sit amet eros eu eros tempus rutrum.
      </p>
    </div>
  </div>
  <div class="banner">
    <div class="container h-100">
      <div class="d-flex flex-column justify-content-center h-100">
        <h2>Isola 2000</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  </div>
</div>
